.elements {
  margin: auto;
  max-width: 880px;
  color: #000;
}

@media screen and (max-width: 950px) {
  .elements {
    max-width: 600px;
  }
}

@media screen and (max-width: 600px) {
  .elements {
    max-width: 300px;
  }
}