.header__wrapper{
  display: flex;
  text-align: right;
  gap: 24px;
}

@media screen and (max-width: 768px) {
  .header__wrapper {
    margin-right: 8%;
    margin-left: 15px;
    gap: 20px;
  }
}

@media screen and (max-width: 500px) {
  .header__wrapper {
    gap: 18px;
    flex-direction: column;
    position: fixed;
    top: -100%;
    margin: 0 auto;
    padding: 40px 0;
    align-self: center;
    width: 100%;
    border-bottom: 1px solid rgba(84, 84, 84, .7);
    /* transition: top .1s; */
  }
}

@media screen and (max-width: 425px) {
  .header__wrapper {
    font-size: 12px;
    gap: 14px;
  }
}